body {
    margin: 1em 3em 1em 3em;
    background-color: aliceblue;
    font-family: cursive;
}

.header {
    display: flex;
    border: 2px dashed;
}

h1 {
    color: #040073;
}

.nav-menu {
    margin-bottom: auto;
    margin-top: auto;
}

.menu-list {
    list-style: none;
    display: flex;
}

.menu-item {
    margin: 0 1em 0 1em;
}

.menu-item > a {
    text-decoration: none;
    font-size: 20px;
    color: #040073;
    background-color: antiquewhite;
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 20px;
}
